<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/partials.html :: headerfiles}">
    </th:block>
    <title>Blog Posts</title>
</head>
<body>
<header>
    <div th:replace="~{/fragments/partials.html :: navbar}"></div>
</header>
<main th:object="${post}">
    <div class="container my-3">
        <h3 class="my-3" th:text="*{title}"></h3>
    </div>
    <div class="container">
        <div class="mb-3">
            <p th:text="*{body}"></p>
            post id: <span th:text="*{id}"></span>
        </div>
    </div>
</main>
<div th:replace="~{/fragments/partials.html :: footer}"></div>
</body>
</html>