<!DOCTYPE html>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/partials.html :: headerfiles">
    </th:block>
    <title>Blog Posts</title>
</head>
<body>
<header>
    <div th:replace="/fragments/partials.html :: navbar"></div>
</header>
<main>
    <div class="container">
        <h3 class="my-3" th:text="${post.title}"></h3>
        <div class="mb-3">
            <p th:text="${post.body}"></p>
            post id: <span th:text="${post.id}"></span>
        </div>
    </div>
</main>
<div th:replace="/fragments/partials.html :: footer"></div>
</body>
</html>