<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/partials.html :: headerfiles}"></th:block>
    <title>Join Cohort</title>
</head>
<body>
    <header>
        <div th:replace="~{/fragments/partials.html :: navbar}"></div>
    </header>
    <div class="container my-3">
        <h1 class="my-3">Join Cohort</h1>
    </div>
    <div class="container">
        <form class="mb-3 row" th:action="@{/join}" method="post">
            <div class="col-auto">
                <div class="form-floating">
                    <input class="form-control" name="cohort" id="cohort-ip" type="text" placeholder="Cohort Name"/>
                    <label for="cohort-ip">Cohort Name</label>
                </div>
            </div>
            <div class="col-auto align-middle">
                <button class="btn btn-outline-dark mt-2">Join now</button>
            </div>
        </form>
        <div th:class="${classes}">
            <h1 th:text="${cohort}"></h1>
        </div>
    </div>
    <div th:replace="~{/fragments/partials.html :: footer}"></div>
</body>
</html>