<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/partials.html :: headerfiles}"></th:block>
    <title>Join Cohort</title>
</head>
<body>
    <header>
        <div th:replace="/fragments/partials.html :: navbar"></div>
    </header>
    <div class="container my-3">
        <h1 class="my-3">Join Cohort</h1>
    </div>
    <div class="container">
        <form class="row g-3 mb-3" th:action="@{/join}" method="post">
            <div class="col-auto">
                <label for="cohor-lbl" class="visually-hidden">Cohort</label>
                <input type="text" readonly class="form-control-plaintext" id="cohor-lbl" value="Cohort Name: ">
            </div>
            <div class="col-auto">
                <label for="cohort-ip" class="visually-hidden">Cohort Input</label>
                <input type="text" name="cohort" id="cohort-ip" class="form-control">
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-dark">Join now</button>
            </div>
        </form>
        <h3 class="mb-3" th:text="${cohort}"></h3>
    </div>
    <div th:replace="~{/fragments/partials.html :: footer}"></div>
</body>
</html>